@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

.titulo_principal {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.281);
    color: white;
    background-color: black;
}

.grupo_zapzap {
    font-size: 20px;
    color: white;
    
}

.grupo_zapzap:hover {
    text-decoration: underline;
}

body {
    background-color: aquamarine;
}

.principal {
}

.section {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1080px;
}

.site {
    font-size: 24px;
}

.img_section_principal {
    height: 200px;
}

.titulo {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.conteudo {
    font-size: 24px;
}

.img_section_principal {
    display: flex;
    flex-direction: column;
}

.imagem_logo {
    max-width: 70px;
}

